<nav class="navbar navbar-expand-sm">
    <a routerLink="">
        <img class="logo" src="/assets/img/techbig-logo.png" title="Go Home">
    </a>
    <button class="navbar-toggler d-lg-none border-0" type="button" data-toggle="collapse"
        data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
        aria-label="Toggle navigation" title="Open Menu">|||</button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">

            <!-- <li class="nav-item" title="Sign in">
                <a class="nav-link" routerLink="signin" [routerLinkActive]="['active']">Sign In</a>
            </li>
            <li class="nav-item" title="Sign up">
                <a class="nav-link" routerLink="signup" [routerLinkActive]="['active']">Sign Up</a>
            </li> -->

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class=" search-box  form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
</nav>