<div class="flex-row-stretch">
    <ng-content></ng-content>
    <!-- ########################### 1st  Layer ######################### -->
    <div class="me-col-12">
        <app-navbar></app-navbar>
    </div>

    <!-- ################ Search Bar ################## -->
    <div class="me-col-3 ">
        <app-search-bar></app-search-bar>
    </div>

    <!-- ########### Banner ################# -->
    <div class="me-col-6 ">
        <app-banner></app-banner>
    </div>


    <!-- ######### Dark Mode ######### -->

    <div class="me-col-3 ">
        <app-dark-mode></app-dark-mode>
    </div>



    <!-- Left Area (menu and links) -->
    <div class=" me-col-3  ">
        <app-left-menu></app-left-menu>
    </div>

    <!-- Middle area -->
    <div class="me-col-6 ">
        <!-- middleArea -->
        <app-middle-area></app-middle-area>
    </div>

    <!-- Right Area -->
    <div class="me-col-3   ">
        <app-right-area></app-right-area>
    </div>

    <!-- Statistics  1-->
    <div class="me-col-6  ">
        <app-bar-chart></app-bar-chart>
    </div>


    <!-- Statistics 2  -->
    <div class="me-col-6 ">
        <app-pie-chart></app-pie-chart>
    </div>




    <!-- Links Component (Under the menu)-->
    <div class="me-col-12 ">
        <app-contact-links></app-contact-links>
    </div>


    <!-- Flex wrapper  -->
</div>

<!-- ###################### Stand alone components ##############################   -->


<!-- Footer -->
<app-footer></app-footer>


<!-- Notificaton -->
<app-notification></app-notification>