input,
select,
input:focus,
input:active,
select:active {
    background-color: $input-bg-color;
    border: thin solid $input-border-color;
}

select,
option,
option * {
    cursor: pointer;
}

select {
    max-width: 150px;
}
i {
    color: $icon-color;
}