<div class="container col col-md-6 col-sm-12">

    <div class="card text-white bg-dark">

        <!-- HEADER -->
        <div class="card-header bg-success text-white text-center">
            <h4 class="card-title">SIGN IN</h4>
        </div>

        <!-- BODY -->
        <div class="card-body">

            <!-- FORM -->
            <form>

                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passwordField">
                                <i class="fa fa-mail-bulk"></i>
                            </span>
                        </div>
                        <!-- Email address -->
                        <input type="text" name="emailAddress" id="emailAddress" class="form-control"
                            placeholder="Email Address " aria-describedby="emailAddressHelper" autocomplete="email"
                            [(ngModel)]="form.email.value" [class.is-invalid]='form.email.validation && isSubmitted'
                            [class.is-valid]="!form.email.validation && isSubmitted" required />
                    </div>
                    <small id="emailAddressHelper" class="text-muted">Type your email address</small>
                    <div class="alert alert-danger p-1" *ngIf="form.email.validation && isSubmitted">
                        {{form.email.validation}}
                    </div>
                </div>



                <div class="form-group">
                    <label for="passwordField">Password</label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passwordField">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <!-- Password  -->
                        <input type="password" name="password" id="passwordField" class="form-control"
                            placeholder="Password" aria-describedby="passwordFieldPrepend" autocomplete="new-password"
                            [(ngModel)]="form.password.value"
                            [class.is-invalid]='form.password.validation && isSubmitted'
                            [class.is-valid]="!form.password.validation && isSubmitted" required>
                    </div>
                    <small id="passwordHelper" class="text-muted">Type your password </small>
                    <!-- Alert message -->
                    <div class="alert alert-danger p-1" *ngIf="form.password.validation && isSubmitted">
                        {{form.password.validation}}</div>
                </div>





                <div class="form-group">
                    <div class="form-check">
                        <!-- Agreement -->
                        <input name="agreement" class="form-check-input" type="checkbox" id="invalidCheck3"
                            [(ngModel)]="form.agreement.value" required />
                        <label class="form-check-label" for="invalidCheck3"
                            [class.is-invalid]="!form.agreement.validation && isSubmitted "
                            [class.is-valid]="form.agreement.validation && isSubmitted">
                            Agree to terms and conditions
                        </label>
                    </div>
                    <div class="alert alert-danger p-1" *ngIf="form.agreement.validation && isSubmitted">
                        {{form.agreement.validation}}</div>
                </div>

                <div class="form-group">

                    <div class="btn btn-success float-right m-3" (click)="submitForm()">Submit</div>
                    <input type="reset" class="btn btn-warning m-3 float-right" (click)="reset()" value="Reset" />

                    <a class="btn btn-outline-info col col-12 text-center" routerLink="/policy/agreement">@AhmetEmrebas
                        Terms and Conditions
                    </a>

                </div>
            </form>
        </div>
    </div>


</div>