<div class="alert alert-danger" *ngIf="!isSignedIn">
  <p> {{errorMessage }} <a routerLink='signin'> sign In</a></p>
</div>

<div class="p-3" *ngIf="isSignedIn">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class=" col-md-12">
              <h4>{{user.firstName + " " +user.lastName}}</h4>
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h5>E-Mail</h5>
            </div>
            <div class="col-md-9">
              <p>{{user.email}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h5>Organization</h5>
            </div>
            <div class="col-md-9">
              <p>{{user.organization}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h5>Role</h5>
            </div>
            <div class="col-md-9">
              <p>{{user.role}}</p>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>