<pane id="list1">
    <ul>
        <li>List 1 </li>
        <li>List 1 </li>
        <li>List 1 </li>
        <li>List 1 </li>
        <li>List 1 </li>
        <li>List 1 </li>
        <li>List 1 </li>
    </ul>
</pane>


<pane id="list2">

    <ul>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
        <li>List 2</li>
    </ul>
</pane>