<div class="list-group">
    <div class="card" *ngFor="let user of users">
        <div class="user-name col-10 col-sm-11  pt-2 pb-2">
            <h5>{{user.firstName + ' ' + user.lastName}}</h5>
            <p>{{user.email}}</p>
        </div>
        <div class="card-footer btn-group p-0 m-0 col-2 col-sm-1">
            <a class=" btn btn-primary" title="Asign a task"><i class="fa fa-plus-circle text-white"
                    aria-hidden="true"></i></a>
            <a class="btn btn-info" title="View profile"><i class="fa fa-eye text-white" aria-hidden="true"></i></a>
            <a class="btn btn-warning" title="Send message"><i class="fas fa-comment-dots text-white"></i></a>
        </div>
    </div>
</div>