<div class="list-group">
    <div class="card">

        <div class="card-body col col-3">
            <img class="avatar"
                src="https://media3.s-nbcnews.com/j/newscms/2019_41/3047866/191010-japan-stalker-mc-1121_06b4c20bbf96a51dc8663f334404a899.fit-760w.JPG"
                alt="">
        </div>
        <div class="user-name col col-7 pt-2 pb-2">
            <h5>Ahmet Emrebas</h5>
            <p>Software Developer</p>
            <p>Angular | C# | CSS | SQL | MongoDB | NodeJS</p>
            <div class="rate">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
        </div>
        <div class="card-footer btn-group p-0 m-0 col col-2">
            <a class=" btn btn-primary"><i class="fa fa-plus-circle text-white" aria-hidden="true"></i></a>
            <a class="btn btn-info"><i class="fa fa-eye text-white" aria-hidden="true"></i></a>
            <a class="btn btn-warning"><i class="fas fa-comment-dots text-white"></i></a>
        </div>

    </div>

</div>