<div class="flex-row-stretch">

    <router-outlet name="forms"></router-outlet>



    <!-- NAVBAR ################### -->
    <div class="me-col-12">
        <app-navbar [navs]="navs"></app-navbar>
    </div>



    <!-- ################ Search Bar ################## -->
    <div class="me-col-3 ">
        <!-- <app-search-bar></app-search-bar> -->
    </div>

    <!-- ########### Banner ################# -->
    <div class="me-col-6 ">
        <!-- <app-banner></app-banner> -->
    </div>


    <!-- ######### Dark Mode ######### -->

    <div class="me-col-3 ">
        <!-- <app-dark-mode></app-dark-mode> -->
    </div>


    <!-- Left Area (menu and links) -->
    <div class=" me-col-3  ">
        <!-- <app-left-menu [data]="leftMenu" (menuClick)="menuClick($event)"></app-left-menu> -->
    </div>

    <!-- Middle area -->
    <div class="me-col-6 ">
        <router-outlet name="middle-area"></router-outlet>
    </div>

    <!-- Right Area -->
    <div class="me-col-3   ">
        <!-- <router-outlet name="right-area"></router-outlet> -->
    </div>

    <!-- Statistics  1-->
    <div class="me-col-6  ">
        <!-- <app-bar-chart></app-bar-chart> -->
    </div>


    <!-- Statistics 2  -->
    <div class="me-col-6 ">
        <!-- <app-pie-chart></app-pie-chart> -->
    </div>




    <!-- Links Component (Under the menu)-->
    <div class="me-col-12 ">
        <!-- <app-contact-links></app-contact-links> -->
    </div>


    <!-- Flex wrapper  -->
</div>

<!-- ###################### Stand alone components ##############################   -->


<!-- Footer -->
<!-- <app-footer></app-footer> -->


<!-- Notificaton -->
<!-- <app-notification></app-notification> -->