<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <a class="navbar-brand nav-item" routerLink="/">
        <h1>PMA</h1>
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item dropdown" *ngFor="let nav of navs">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#{{nav.name}}" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" (click)="click(nav.name)">{{nav.name}}</a>

                <!-- Sum items  -->
                <div class="dropdown-menu" aria-labelledby="dropdownId" id="{{nav.name}}" *ngIf="nav.subs">
                    <!-- Home route -->
                    <!-- <a class="dropdown-item" routerLink="/welcome" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Home </a>
                    <hr> -->

                    <a class="dropdown-item" *ngFor="let sub of nav.subs" (click)="click(sub)">{{sub}}</a>


                </div>
            </li>


        </ul>




        <!-- Notifications & messages -->
        <!-- <div class="dropdown">

            <a class="btn btn-warning text-dark mr-3 dropdown-toggle" data-toggle="dropdown" type="button">
                Notifications <span class="badge badge-danger">45</span>
            </a>
            <div class="dropdown-menu  bg-warning">
                <li class="dropdown-item">Some Notification</li>
                <li class="dropdown-item">Some Notification</li>
                <li class="dropdown-item">Some Notification</li>
            </div>

        </div> -->

    </div>
</nav>