<ul class="list-group ">
    <li class="list-item list-group-item bg-secondary text-white mt-1">
        <strong>Updated :</strong>
        <small><i>just now</i></small>
    </li>
</ul>
<div class="table-view">
    <table class="table table-striped bg-info text-light  table-head">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>LastName</th>
            </tr>
        </thead>
    </table>
    <table class="table table-striped table-light">
        <tbody>
            <tr *ngFor="let i of ['Ahmet',1,1,1,1,1,1,1,1,1,11,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                <td scope="row">1</td>
                <td>Ahmet</td>
                <td>Emrebas</td>
            </tr>

        </tbody>
    </table>
</div>