<div class="container mb-5">
    <div class="card text-left mb-2" *ngFor="let project of projects">
        <div class="card-header p-1 bg-info text-dark" [class.bg-warning]="selectedId==project._id">
            <h4>Name: {{project.name}}</h4>
        </div>
        <div class="card-body p-1">
            <p>ID: #{{project._id}}</p>
            <p>Summary: {{project.summary}}</p>
        </div>

        <div class="card-footer p-1">
            <button class="btn btn-outline-danger mr-2"> Delete </button>
            <button class="btn btn-outline-warning mr-2" (click)="redirect(project._id,project.name, project.summary)">
                Edit
            </button>
        </div>

    </div>
</div>