<div class="container mb-5">

    <div class="card">

        <div class="card card-header">
            <h4>{{pageTitle}}</h4>
        </div>

        <div class="card card-body">
            <!-- view  -->
            <div class="card text-left mb-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 50px;">#ID</th>
                            <th>Name</th>
                            <th>Summary</th>
                            <th *ngFor="let meta of filteredProjects[0].meta">{{meta[0]}}</th>
                            <th>
                                <!-- Search bar -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-search fa-1x" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" #filterBy placeholder="Username"
                                        aria-label="Username" aria-describedby="basic-addon1"
                                        (input)="filter(filterBy.value)">
                                </div>
                                <!-- Search bar -->

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of filteredProjects">
                            <td class="bg-dark text-white">#{{project._id}}</td>
                            <td>{{project.name}}</td>
                            <td>{{project.summary.substr(0,20)}}...</td>
                            <td *ngFor="let meta of project.meta">{{meta[1]}}</td>
                            <td>

                                

                                    <div class="btn-group d-flex flex-row-reverse " role="group" >
                                        <a id="dropdownId" type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" style="padding-left: 20px;">
                                            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                                            <a class="dropdown-item">View</a>
                                            <a class="dropdown-item"
                                                (click)="redirect(project._id,project.name, project.summary)"> Edit</a>
                                            <a class="dropdown-item"> Delete</a>
                                        </div>
                                    </div>
                          

                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="card-footer p-1">

                </div>
            </div>
            <!-- View -->

        </div>

        <div class="card card-footer">
            <!-- Error message -->
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                <strong>{{errorMessage}}</strong>
            </div>

        </div>



    </div>


</div>