<ul class="list-group " *ngIf="data">
    <li class="list-item list-group-item bg-dark text-white p-1 pr-2 pl-2">

        <div class="d-flex justify-content-between align-items-center p-0">
            <h3 class="pl-4">{{title | uppercase}}</h3>
            <app-searchbar [data]="data" (filter)="filter($event)"></app-searchbar>
        </div>

    </li>

</ul>
<ul class="root list list-group  pr-2">
    <li type="button" class=" list-item list-group-item mt-1"
        *ngFor="let item of filteredData" (click)="click(item)">
        <ul class="list list-group">
            <li class="list-item " *ngFor="let value of item.values">{{value}}</li>
        </ul>
        <div class="badge-group">
            <div class="badge" *ngIf="item.pills">
                <span class="badge badge-{{statusColors[pill]}} badge-pill"
                    *ngFor="let pill of item.pills">{{pill}}</span>
            </div>
        </div>
    </li>
</ul>



