/* You can add global styles to this file, and also import other style files */

* {
    // box-sizing: border-box;
}

html,
body {
    position: relative;
    background-image: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(212, 212, 212),
        rgb(199, 200, 201),
        rgb(255, 255, 255)
    );
    overflow-x: hidden;
}
