<div class="body">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">{{greeting}}</h1>
            <p class="lead">I developed an application for you!</p>
            <p class="lead">
                <a href="https://app.pluralsight.com/profile/ahmet-emrebas" target="_blank"
                    class="btn btn-lg  btn-dark">Learn More</a>
            </p>
        </main>

        <footer>
            <p>
                Application is built by <a href="https://www.linkedin.com/in/ahmet-emrebas/"> @Ahmet
                    Emrebas</a>
            </p>

        </footer>
    </div>
</div>