<div class="container mb-5">

    <div class="card">

        <div class="card card-header">
            <h4>{{meta.meta.pageTitle}}</h4>
        </div>

        <div class="card card-body">
            <!-- view  -->
            <div class="card text-left mb-2">
                <table class="table">
                    <thead>
                        <tr>

                            <th *ngFor="let head of thead">{{head  | uppercase}}</th>

                            <th>
                                <!-- Search bar -->
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-search fa-1x" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" #filterBy placeholder="Username"
                                        aria-label="Username" aria-describedby="basic-addon1"
                                        (input)="onInput(filterBy.value)">
                                </div>
                                <!-- Search bar -->
                            </th>

                        </tr>
                    </thead>


                    <tbody>
                        <tr *ngFor="let item of filteredData">

                            <td *ngFor="let field of item.slice(0,item.length-1)">{{field[1]}}</td>

                            <td *ngFor="let field of item[item.length-1][0]">{{field[1]}}</td>

                            <td>
                                <div class="btn-group d-flex flex-row-reverse " role="group">
                                    <a id="dropdownId" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="padding-left: 20px;">
                                        <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                                        <button class="dropdown-item btn"
                                            (click)="onViewClick(item[0][1])">View</button>
                                        <button class="dropdown-item btn"
                                            (click)="onEditClick(item[0][1])">Edit</button>


                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>



                </table>



            </div>


        </div>

        <div class="card card-footer">
            <!-- Error message -->
            <div class="alert alert-danger" role="alert" *ngIf="meta.meta.errorMessage">
                <strong>{{meta.meta.errorMessage}}</strong>
            </div>

        </div>


    </div>
</div>