<ul class="list-group " *ngIf="data">
    <li class="list-item list-group-item bg-dark text-white  mt-1">Projects</li>
</ul>
<ul class="list list-group  pr-2">
    <li type="button" class="list-item list-group-item d-flex justify-content-between align-items-center  mt-1"
        *ngFor="let item of data" 
        
        
        (click)="click(item)">


        <a type="button" class="text-dark">{{item.name}}</a>
        <div class="badge" *ngIf="item.pills">
            <span class="badge badge-{{pillColors[item.pills.indexOf(pill)]}} badge-pill mr-1 ml-1 "
                *ngFor="let pill of item.pills">{{pill}}</span>
        </div>
    </li>

</ul>