<div class="modal fade" id={{meta.id}} tabindex="-1" role="dialog" aria-labelledby="id" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-{{bgColor}} text-{{textColor}} d-flex flex-row justify-content-between">
                <h5 class="modal-title">{{meta.title}}</h5>
                <a type="button" class="btn" data-dismiss="modal">
                    <i class="fa fa-times-circle text-{{textColor}}"></i>
                </a>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{meta.message}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancel()">{{meta.cancelLabel}}</button>
                    
                <button type="button" class="btn btn-{{bgColor}} text-{{textColor}}" (click)="confirm()"
                    data-dismiss="modal">{{meta.confirmLabel}}</button>
            </div>
        </div>
    </div>
</div>