<ul class="list-group ">
    <li class="list-item list-group-item bg-secondary text-white mt-1">
        <strong>Updated :</strong>
        <small><i>just now</i></small>
    </li>
</ul>
<div class="table-view">
    <table class="table table-striped bg-info text-light  table-head">
        <thead>
            <tr>
                <th *ngFor="let header of data.headers">{{header}}</th>
            </tr>
        </thead>
    </table>
    <table class="table table-striped table-light">
        <tbody>
            <tr *ngFor="let item of data.items">
                <td *ngFor="let field of item ">{{field}}</td>
            </tr>

        </tbody>
    </table>
</div>