<ul class="list-group   mt-1 mb-1 ">
    <div class="input-group">

        <select class="form-control  bg-dark text-light    p-1 m-0 ">
            <option value="option 1" default>Select Category</option>
            <option value="option 1">Option 1</option>
            <option value="option 1">Option 1</option>
        </select>

        <input type="text" class="form-control   pl-4" placeholder="Search Items" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
</ul>