* {
    transition: all ease-in-out 400ms;

}


i {
    color: white;
}

input,
select {
    position: relative;
    border-bottom: 1px solid white;
}

input,
select,
input:focus,
input:active,
select:active {
    border: none;
    box-shadow: none;
}

input:focus {
    border-bottom: 3px solid orangered;
    background-color: rgb(252, 252, 206);
}

select,
option,
option * {
    cursor: pointer;
}

select {
    max-width: 150px;
}
