<div class="alert alert-danger" role="alert" *ngIf="!input">

    <p>You did not pass a input to the app-input component!</p>
</div>

<div *ngIf="input" class="form-group col-12">
    <!-- Text Like inputs-->
    <div *ngIf="textInput.includes(input.meta.type)">

        <label for={{input.meta.id}}>{{input.meta.label}}</label>

        <div class="input-group">
            <!-- Icon -->
            <div class="input-group-prepend" *ngIf="input.meta.icon">
                <span class="input-group-text" id="{{input.meta.name}}_icon">

                    <i class="{{input.meta.icon}} text-{{input.meta.iconColor}}"></i>
                </span>
            </div>

            <div class="input-group-prepend" *ngIf="input.meta.preValue">
                <span class="input-group-text" id="{{input.meta.name}}_preValue">
                    {{input.meta.preValue}}
                </span>
            </div>

            <!-- Input -->
            <input id={{input.meta.id}} type={{input.meta.type}} name={{input.meta.name}}
                class="input-text form-control" placeholder={{input.meta.placeHolder}} aria-describedby="inputComponent"
                autocomplete={{input.meta.autocomplete}} [(ngModel)]="input.meta.value"
                [class.is-invalid]='!input.meta.isValid && input.meta.isSubmitted'
                [class.is-valid]="input.meta.isValid && input.meta.isSubmitted" required={{input.meta.required}}
                list="dataList" (keydown)="input.keyDown($event)"
                (input)="input.meta.onInput && input.meta.onInput($event)"
                (mouseover)="input.meta.onHover && input.meta.onHover($event)"
                (click)="input.meta.onClick && input.meta.onClick($event)" />

            <datalist id="dataList" *ngIf="input.meta.options">
                <option *ngFor="let option of input.meta.options">{{option}}</option>
            </datalist>


            <!-- Editable list buttons -->
            <div *ngIf="input.meta.type =='editable-list'" class=" input-group-prepend" (click)="input.add()">
                <a class=" btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
            <div *ngIf="input.meta.type =='editable-list'" class="input-group-prepend" (click)="input.delete()">
                <a class="btn btn-danger"><i class="fa fa-trash-alt" aria-hidden="true"></i></a>
            </div>




        </div>
        <small id="{{input.meta.name}}Helper" *ngIf="input.meta.helperText">{{input.meta.helperText}}</small>

        <!-- Editable list element -->
        <ul class="list-group" *ngIf="input.meta.type =='editable-list'">
            <li class="list-group-item text-dark" *ngFor="let i of input.meta.values">{{i}}</li>
        </ul>
    </div>


    <!-- Select -->
    <div *ngIf="selectInput.includes(input.meta.type)">
        <label for={{input.meta.id}}>{{input.meta.label}}</label>
        <div class="input-group">
            <!-- Icon -->
            <div class="input-group-prepend" *ngIf="input.meta.icon">
                <span class="input-group-text" id="{{input.meta.name}}_icon">

                    <i class="{{input.meta.icon}} text-{{input.meta.iconColor}}"></i>
                </span>
            </div>

            <div class="input-group-prepend" *ngIf="input.meta.preValue">
                <span class="input-group-text" id="{{input.meta.name}}_preValue">
                    {{input.meta.preValue}}
                </span>
            </div>

            <select id={{input.meta.id}} class="form-control" name={{input.meta.name}} required={{input.meta.required}}
                [(ngModel)]="input.meta.value" multiple={{input.meta.multiple}}
                (mouseover)="input.meta.onHover && input.meta.onHover()"
                (click)="input.meta.onClick && input.meta.onClick($event)">
                <option *ngFor="let option of input.meta.options">{{option}}</option>
            </select>

        </div>
        <small id="{{input.meta.name}}Helper" *ngIf="input.meta.helperText">{{input.meta.helperText}}</small>

        <!-- <input type="text" autocomplete="" /> -->
    </div>

    <!-- File Select  -->
    <div *ngIf="fileDialog.includes(input.meta.type)">

        <label for={{input.meta.id}}>{{input.meta.label}}</label>
        <div class="input-group">
            <!-- Icon -->
            <div class="input-group" style=" position: absolute; width: 100%;">
                <div class="input-group-prepend" *ngIf="input.meta.icon">
                    <span class="input-group-text" id="{{input.meta.name}}_icon">

                        <i class="{{input.meta.icon}} text-{{input.meta.iconColor}}"></i>
                    </span>
                </div>
                <input id="someid" type="button" class="btn btn-primary form-control"
                    value={{input.meta.buttonLabel}} />
            </div>

            <input id={{input.meta.id}} type={{input.meta.type}} name={{input.meta.name}}
                class="input-file form-control" placeholder={{input.meta.placeHolder}} aria-describedby="inputComponent"
                autocomplete={{input.meta.autocomplete}} [(ngModel)]="input.meta.value"
                [class.is-invalid]='!input.meta.isValid && input.meta.isSubmitted'
                [class.is-valid]="input.meta.isValid && input.meta.isSubmitted" required={{input.meta.required}}
                accept={{input.meta.fileType}} (input)="input.meta.onInput && input.meta.onInput($event)"
                (mouseover)="input.meta.onHover && input.meta.onHover()"
                (click)="input.meta.onClick && input.meta.onClick($event)" />
        </div>
        <small id="{{input.meta.name}}Helper" *ngIf="input.meta.helperText">{{input.meta.helperText}}</small>

    </div>



    <!-- Buttons  -->

    <li class="list-group-item" [routerLink]="input.meta.route"
        style="background-color: transparent; outline: none; box-shadow: none;"
        *ngIf="buttonControl.includes(input.meta.type)">
        <div class="input-group">
            <div class="input-group-prepend" *ngIf="input.meta.icon">
                <span class="input-group-text w-100" id={{input.meta.value}}>

                    <i class="{{input.meta.icon}} text-{{input.meta.iconColor}}"></i>
                </span>
            </div>
            <input type={{input.meta.type}} class="btn btn-{{input.meta.color}} rounded-0" title={{input.meta.title}}
                value={{input.meta.buttonLabel}} (click)="input.meta.onClick && input.meta.onClick()"
                (input)="input.meta.onInput && input.meta.onInput($event)"
                (mouseover)="input.meta.onHover && input.meta.onHover()" />
        </div>
    </li>







    <!-- Radio and checkbox -->
    <div *ngIf="radioCheckBox.includes(input.meta.type)">
        <label>{{input.meta.label}}</label>
        <form>
            <div class="form-check" *ngFor="let option of input.meta.options">
                <label>
                    <input id={{option}} type={{input.meta.type}} name="WhenAddingNameDynamiclyItDoesnotWOrk"
                        class="form-check-input" [(ngModel)]="input.meta.value" required={{input.meta.required}}
                        value={{option}} (click)="input.meta.onClick && input.meta.onClick($event)" />
                    {{option}}
                </label>
            </div>
        </form>
    </div>


    <!-- Validaton -->
    <div class="alert alert-danger p-1"
        *ngIf="!input.meta.isValid && input.meta.isSubmitted && (input.meta.errors.length>0)">
        <ul>
            <li *ngFor="let error of input.meta.errors">{{error}}</li>
        </ul>
    </div>
</div>