.input-group {
}

.input-group-prepend:first-child {
    border-right: 3px solid transparent;
}
.input-group-prepend:nth-child(2) * {
    background-color: rgba(138, 138, 138, 0.5);
}

.clear-default-style {
    box-shadow: none;
    border: none;
    outline: none;
}

.input-text:active,
.input-text:focus {
    @extend .clear-default-style;
    border-bottom: 3px solid royalblue;
}

.btn,
[class^="btn-"] {
    @extend .clear-default-style;
}

* {
    transition: all ease-in-out 300ms;
}

textarea {
    transition: none;
}

.input-group-text {
    color: black;
    border: none;
}

label,
small {
    color: white;
}

.input-file {
    opacity: 0;
}

select:focus,
select:active {
    box-shadow: none;
    border: none;
    outline: none;
}
