$max-height-first-layer: 50vh;
$max-height-second-layer: 50vh;
$max-height-third-layer: 50vh;

$border-size: 0px;

$root-container-border-size: 5px;
$root-container-color: black;
$body-bg-color: white;
$input-bg-color: whitesmoke;
$icon-color: white;

$input-border-color: gray;

$g-shadow-size: 1px;

$g-font-size: 12px;
