
.me-col-12 {
    width: 100%;
}

.me-col-10 {
    width: 83.6%;
}
.me-col-9 {
    width: 74.97%;
}

.me-col-6 {
    width: 50%;
}

.me-col-5 {
    width: 42.65%;
}

.me-col-3 {
    width: 25%;
}

.me-col-2 {
    width: 16.66%;
}

.me-col-1 {
    width: 8.33%;
}
