<app-modal-wrapper [bgColor]="bgColor()" [title]="title()" (confirmEvent)="confirm($event)">
    <div class="card-body bg-info">
        {{form.value | json}}
    </div>

    <form [formGroup]="form">

        <div class="form-group" *ngFor="let input of inputs()">


            <label for={{input.name}}>{{input.label | titlecase}}</label>

            <input [formControlName]="input.name" type="text" [id]="input.name" class="form-control"
                [class.is-invalid]="invalid(input.name)" [class.is-valid]="valid(input.name)"
                [placeholder]="input.placeholder | titlecase" autocomplete="off"/>

            <small class="form-text text-muted">{{input.helperText}}</small>

            <!-- Validaton Errors  -->
            <div *ngIf="invalid(input.name)" class="alert alert-danger">

                <div *ngIf="errors(input.name).required">
                    {{input.name | titlecase}} is required.
                </div>

                <div *ngIf="errors(input.name).minLength">
                    {{input.name | titlecase}} does not meet the minimum-length requirement.
                </div>

                <div *ngIf="errors(input.name).forbiddenName">
                    {{value(input.name | titlecase)}} is not allowed .
                </div>

                <div *ngIf="errors(input.name).NaN">
                    {{value(input.name | titlecase)}} is not a number .
                </div>

                <div *ngIf="errors(input.name).email">
                    {{value(input.name)}} is not an email .
                </div>


                <!-- Add any validation error message here -->
            </div>

        </div>


    </form>

    <button class="btn btn-dark mr-2" data-toggle="modal" data-target="#back">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back
    </button>

    <button class="btn btn-dark mr-2" type="button" data-toggle="modal" data-target="#reset" *ngIf="isDirty()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Reset form
    </button>

    <button class="btn btn-warning mr-2" type="button" data-toggle="modal" *ngIf="isFormValid()" data-target="#save">
        {{submitLabel() | titlecase}}
    </button>

</app-modal-wrapper>