<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <a class="navbar-brand nav-item" routerLink="/"> <h1>PMA</h1></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Document</a>



                <!-- Main menu -->
                <div class="dropdown-menu" aria-labelledby="dropdownId" id="mainMenu">
                    <!-- Home route -->
                    <!-- <a class="dropdown-item" routerLink="/welcome" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">Home </a>
                    <hr> -->

                    <a class="dropdown-item">Home</a>
                    <a class="dropdown-item">Second</a>
                    <a class="dropdown-item">Thirds</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>
            <li class="nav-item dropdown">
                <!-- Open Main Menu -->
                <a class="nav-link dropdown-toggle" href="#mainMenu" id="menuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">File</a>
            </li>





        </ul>

        <!-- Notifications & messages -->
        <div class="dropdown">

            <a class="btn btn-warning text-dark mr-3 dropdown-toggle" data-toggle="dropdown" type="button">
                Notifications <span class="badge badge-danger">45</span>
            </a>
            <div class="dropdown-menu  bg-warning">
                <li><a class=" btn btn-warning text-dark mt-1" href="#">Some Notification</a></li>
                <li><a class=" btn btn-warning text-dark mt-1" href="#">Some Notification</a></li>
                <li><a class=" btn btn-warning text-dark mt-1" href="#">Some Notification</a></li>
            </div>

        </div>

    </div>
</nav>