<!-- Loading Spinner -->
<app-loading></app-loading>

<div class="flex-row-stretch">

    <div class="me-col-12">
        <app-navbar [navs]="navs"></app-navbar>
        <app-banner [(banners)]="banners"></app-banner>
    </div>


    <div class="me-col-3 ">
        <app-left-menu title="issues" [(data)]="issues" (menuClick)="menuClick($event)" path="issue"></app-left-menu>

    </div>

    <!-- 
        views 
        - single issue view 
        

     -->
    <div class="me-col-6 ">
        <app-issue-view [issue]="issue"></app-issue-view>
    </div>

</div>